Anna Kennedy           <annaken@wgtwo.com>
Barry Kiernan          <barry@wgtwo.com>   <barry@telenordigital.com>
Bjørn Nordbø           <bn@wgtwo.com>      <bn@strangedays.no>
David Åse              <david@wgtwo.com>
David Åse              <david@wgtwo.com>   <36410074+david-wg2@users.noreply.github.com>
David Åse              <david@wgtwo.com>   <davidaase@hotmail.com>
Erlend Prestgard       <erlend@wgtwo.com>  <Erlend@prestgard.no>
Holger Ihrig           <holger@wgtwo.com>  <50195939+holger-wg2@users.noreply.github.com>
Jonny Griffin          <jonny@wgtwo.com>   <39831372+jonny-wg2@users.noreply.github.com>
Jørund B. Fagerjord    <jorunfa@wgtwo.com> <j.b.fagerjord@gmail.com>
Lukas Levin            <lukas@wgtwo.com>   <43165886+lukas-wg2@users.noreply.github.com>
Per Modin              <per@wgtwo.com>     <35036224+pmodin-wg2@users.noreply.github.com>
Per Modin              <per@wgtwo.com>     <per@modin.io>
Sara Ekström           <sara@wgtwo.com>    <36153091+SaraPeople@users.noreply.github.com>
Sara Ekström           <sara@wgtwo.com>    <36153091+sara-wg2@users.noreply.github.com>
Therese Nesseth Tørlen <tnt@wgtwo.com>     <37297328+tnt-wg2@users.noreply.github.com>
Therese Nesseth Tørlen <tnt@wgtwo.com>     <therese@wgtwo.com>
Werner Eriksen         <werner@wgtwo.com>
