.width-limit {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

body {
  padding-left: 200px;
}

.sidebar {
  background: #fff;
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  border-right: 1px solid #ddd;
  z-index: 100;
  a.logo {
    display: block;
    height: 128px;
    img {
      width: calc(100% - 48px);
      margin: 24px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      a {
        display: block;
        padding: 12px 8px 12px 24px;
        color: #686868;
        font-size: 15px;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        &:hover {
          color: #000;
        }
      }
    }
  }
}

.sidebar-overlay {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.mobile-header {
  display: none; // media query
  position: fixed;
  width: 100%;
  height: 60px;
  background: white;
  border-bottom: 1px solid #ddd;
  z-index: 98;
  a.logo {
    margin: 10px auto;
  }
  .menu-trigger {
    position: absolute;
    right: 20px;
    top: 15px;
    border: 2px solid $brand;
    border-radius: 3px;
    height: 28px;
    width: 28px;
    transform: rotate(45deg);
    padding: 0;
    background: #fff;
    color: $brand;
    cursor: pointer;
    .uk-icon {
      transform: rotate(-45deg);
    }
  }
}

.page-main {
  padding-top: 24px;
  padding-bottom: 120px;
}

.page-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  text-align: center;
  background: #f2f2f2;
  color: #444444;
  padding: 24px 24px 24px 224px;
  a {
    color: inherit;
  }
}

@media(max-width: 639px) {
  .mobile-header {
    display: flex;
  }
  body {
    padding: 0;
  }
  .sidebar {
    left: -200px;
    transition: all .2s ease-in-out;
    &.open {
      box-shadow: 1px 0 15px rgba(0, 0, 0, 0.25);
      left: 0;
      + .sidebar-overlay {
        left: 0;
      }
    }
  }
  .page-footer {
    padding: 24px;
  }
}
