.width-limit {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1024px;
  margin: 0 auto;
}

.page-main {
  padding-top: 120px;
  padding-bottom: 120px;
}

header.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: #fff;
  padding: 24px 0;
  border-bottom: 1px solid #ddd;
  .width-limit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    max-height: 40px;
  }
  nav {
    a {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 18px;
      padding: 24px 0;
      + a {
        margin-left: 24px;
      }
    }
  }
}

.page-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  text-align: center;
  background: #f7f7f7;
  color: #444444;
  padding: 24px;
  a {
    color: inherit;
    text-decoration: underline;
  }
}
