.page-header {
    height: 70px;
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.95    );
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.navbar {
    height: 40px;
    .logo img {
        max-height: 40px;
    }
    ul {
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            padding: 8px;
            margin-left: 8px;
            display: inline-block;
            a {
                color: $brand;
            }
        }
    }
}

@media(max-width: 666px) {

}

.page-main {
    padding-top: 90px;
    padding-bottom: 60px;
}

.page-footer {
    font-size: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    background: $brand;
    color: #fff;
    padding: 0 20px;
    overflow: hidden;
    a {
        color: inherit;
    }
}