.hero-bg {
    height: 450px;
    background-color: #555;
    background: url("/img/hero-img.jpg");
    margin-bottom: -60px; // counteract padding-top form main due to fixed header
    .hero-content {
        text-align: center;
        margin: 0 auto;
        padding: 175px 50px 0 50px;
        img {
            margin: 0 auto;
            max-height: 135px;
            max-width: 100%;
        }
        .slogan {
            margin-top: 20px;
            color: #fff;
            text-shadow: 0 0 50px rgba(0,0,0,.8), 0 0 5px rgba(0,0,0,.8);
        }
    }
}

@media(min-width: 1200px) {
    .hero-bg {
        animation: animated-bg 20s linear forwards;
    }
}

@keyframes animated-bg {
    from { 
        background-size: 150%;
        background-position-x: 0%; 
    }
    to { 
        background-size: 100%; 
        background-position-x: 25%;
    }
}