.left-right-row {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  + .left-right-row {
    margin-top: 40px;
  }
  .image {
    display: flex;
    justify-content: center;
    width: 49%;
    img {
      height: 340px;
    }
  }
  .text {
    width: 49%;
    p {
      margin: 0;
    }
  }
}

.left-right-row:nth-of-type(odd) {
  flex-direction: row;
}

@media(max-width: 639px) {
  .left-right-row {
    flex-wrap: wrap;
    .image {
      width: 100%;
    }
    .text {
      text-align: center;
      width: 100%;
    }
  }
}

