$brand: #004343;

* {
  outline: none;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  color: rgba(0,0,0,.80);
  line-height: 1.5;
  background: #f8f8f8;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, 
h2,
h3 {
  color: $brand;
}