$brand: #009da5;
$main-text: rgba(0, 0, 0, .80);

* {
  outline: none;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  color: $main-text;
  line-height: 1.5;
  background: #f8f8f8;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a,
a:hover {
  color: $brand;
}

svg {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 0.25em;
}

h1 + p,
h2 + p,
h3 + p,
h1 + h2,
h2 + h3 {
  margin-top: 0;
}

.video-border {
  border: 1px solid #ddd;
}
