$brand: #009da5;

* {
  outline: none;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  color: rgba(0,0,0,.80);
  line-height: 1.5;
  background: #f8f8f8;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a,
a:hover {
  color: $brand;
}

h1, 
h2,
h3 {
  color: $brand;
}

h1,
h2,
h3 {
  font-family: 'Catamaran', sans-serif;
  margin-bottom: 0.25em;
}

h1 + p,
h2 + p,
h3 + p,
h1 + h2,
h2 + h3 {
  margin-top: 0;
}

.video-border {
  border: 1px solid #ddd;
}