ul.news-list {
  list-style: none;
  padding: 0;
  h2 {
    font-size: 22px;
  }
  li + li {
    margin-top: 30px;
  }
  a {
    padding: 15px;
    display: block;
    background: white;
    color: inherit;
    p {
      margin: 0;
    }
    transition: box-shadow .2s;
    &:hover {
      text-decoration: none;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    }
  }
}