.partner {
    display: flex;
    align-items: center;
    + .partner {
        margin-top: 32px;
    }
    .image {
        width: 100px;
        max-width: 10vw;
        margin-right: 16px;
        flex-shrink: 0;
    }
    .description {
        font-size: 13px;
        .title {
            font-size: 18px;
            color: $main-text;
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
}

@media(max-width: 639px) {
    .partner {
        align-items: flex-start;
    }
}