<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{ page.title }}
    </title>
    <meta name="description" content="...">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/css/uikit.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preload" href="/img/hero-img.jpg" as="image">
</head>
<body>
    <header class="page-header">
        <nav class="navbar width-limit">
            <a class="logo" href="/"><img src="/img/logo.png"></a>
            <ul>
                <li><a href="/partners">Partners</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/career">Career</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </nav>
    </header>
    {% if page.showHeroImage %}
    <div class="hero-bg">
        <div class="hero-content">
            <img src="/img/logo-big.png" alt="Working Group Two">
            <div class="slogan">Enabling modern mobile communication</div>
        </div>
    </div>
    {% endif %}
    <main class="page-main width-limit">
        {{ content }}
    </main>
    <footer class="page-footer">
        <script type="text/javascript">
            document.write("© " + new Date().getFullYear() + " Working Group Two");
        </script> 
        | <a href="/contact">Contact</a>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit-icons.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>